<ul class="nav nav-list">
    <li class="active">
        <a asp-area="Admin" asp-controller="Administration" asp-action="Index">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a asp-area="Admin" asp-controller="Category" asp-action="Index">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Category </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a asp-area="Admin" asp-controller="Service" asp-action="Index">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Service </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a asp-area="Admin" asp-controller="Blog" asp-action="Index">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Blog </span>
        </a>

        <b class="arrow"></b>
    </li>
</ul><!-- /.nav-list -->
