
@{
    ViewData["Title"] = "About";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Venedor - Responsive eCommerce Template</title>
    <meta name="description" content="Responsive modern ecommerce Html5 Template">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300' rel='stylesheet' id="googlefont">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Favicon and Apple Icons -->
    <link rel="icon" type="image/png" href="~/images/icons/icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">

    <!--- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <style id="custom-style">
    </style>
</head>
<body>
    <div id="wrapper">
        <partial name="_CustomerHeader" /><!-- End #header -->

        <section id="content">

            <div id="page-header">
                <h1>
                    About Us
                    <span class="small-bottom-border big"></span><!-- small-bottom-border -->
                </h1>
                <div class="md-margin"></div><!-- space -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="page-header-desc">
                                
                            </p>
                        </div><!-- End .col-md-8 -->
                    </div><!-- End .row -->
                </div> <!-- End .container -->
            </div><!-- End #page-header -->

            <div class="md-margin2x"></div><!-- space -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="hero-unit">
                            <h2>Welcome to KIAZ Services!</h2>
                            <p>
                                Kiaz services is a multi-servicing company which was established on the 3rd of July 2020.
                                Its major kick up started in the cities of Abuja and Lagos Metropolis to meet the rising demand for trusted and well.
                            </p>
                            <span class="small-bottom-border big"></span><!-- small-bottom-border -->
                        </div><!-- End .hero-unit -->
                        <div class="md-margin2x"></div><!-- End .md-margin2x -->


                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-6 service-box-container">
                                <div class="services-box">
                                    <div class="service-icon service-icon-responsive"></div>
                                    <h3>
                                        <a href="#">Vision</a>
                                        <span class="small-bottom-border"></span>
                                    </h3>
                                    <p>Our vision is to provide secured, reliable, and complete array of services to our customers while ensuing optimum satisfaction.</p>
                                </div><!-- End .services-box -->
                            </div><!-- End .col-md-3 -->
                            <div class="col-md-4 col-sm-4 col-xs-6 service-box-container">
                                <div class="services-box">
                                    <div class="service-icon service-icon-panel"></div>
                                    <h3>
                                        <a href="#">Mission</a>
                                        <span class="small-bottom-border"></span>
                                    </h3>
                                    <p>
                                        Our mission is to empower as many skilled youths as possible through employment opportunities and partner with renowned professionals in the field and bring the best service experience to our customer.
                                        We aim to have the best household name in the domestic and artisan industry.
                                    </p>
                                </div><!-- End .services-box -->
                            </div><!-- End .col-md-3 -->
                            <div class="col-md-4 col-sm-4 col-xs-6 service-box-container">
                                <div class="services-box">
                                    <div class="service-icon service-icon-sliders"></div>
                                    <h3>
                                        <a href="#">Time of Establishment</a>
                                        <span class="small-bottom-border"></span>
                                    </h3>
                                    <p>Kiaz services is a multi-servicing company which was established on the 3rd of July 2020.</p>
                                </div><!-- End .services-box -->
                            </div><!-- End .col-md-3 -->
                            
                        </div><!-- End .row -->

                        <div class="lg-margin2x"></div><!-- space -->

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <header class="content-title">
                                    <h2 class="title">Who are we?</h2>
                                    <div class="xss-margin"></div><!-- space -->
                                </header>
                                <p>
                                    We understand the importance of the safety of our customers and so have selected only trusted and tested individuals. 
                                    Customers satisfaction and maintaining the company’s integrity is our watch word.
                                </p>
                                <div class="xs-margin"></div>
                                <p>We give our customers the best of services, as our staff carry out their duties effectively and efficiently. </p>
                                <div class="visible-xs md-margin"></div>
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <header class="content-title">
                                    <h2 class="title">Who are we?</h2>
                                    <div class="xss-margin"></div><!-- space -->
                                </header>
                                <p>
                                    We understand the importance of the safety of our customers and so have selected only trusted and tested individuals.
                                    Customers satisfaction and maintaining the company’s integrity is our watch word.
                                    We give our customers the best of services, as our staff carry out their duties effectively and efficiently.
                                </p>
                                <div class="xs-margin"></div>
                                <p>Sed ac magna sed massa rhoncus elementum et ac augue. Morbi non tellus nisi. Pellentesque habitant morbi tristique senectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor dictum ornare.Ut tincidunt velit nec ligula ornare bibendum. Aliquam ac sagittis metus. Suspendise eu nunc pulvinar,varius libero, eleifend nunc pellentesque mauris. <a href="#">Buy Venedor Template!</a></p>
                                <div class="visible-xs md-margin"></div>

                            </div><!-- End .col-md-6 -->
                        </div><!-- End.row -->

                        <div class="xlg-margin2x"></div><!-- space -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End.row -->
            </div><!-- End .container -->

            <div id="testimonials-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3>
                                Testimonials
                                <span class="small-bottom-border big"></span>
                            </h3>


                            <div class="about-us-testimonials flexslider">
                                <ul class="slides">
                                    <li>
                                        <span class="testimonial-title">Best Service!</span>
                                        <p>Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend molestie. Aliquam molestie scelerisque ultricies. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor dictum ornare. Maecenas pellentesque nibh ac suscipit sodales. Integer quis mattis nibh. Maecenas et eleifend mauris.</p>
                                        <span class="testimonial-owner">
                                            Anna Retallick,
                                        </span><span class="testimonial-date">12.02.2014</span>
                                    </li>

                                    <li>
                                        <span class="testimonial-title">Fast Support!</span>
                                        <p>Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend molestie. Aliquam molestie scelerisque ultricies. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor dictum ornare.</p>
                                        <span class="testimonial-owner">
                                            Jake Retallick,
                                        </span><span class="testimonial-date">21.02.2014</span>
                                    </li>

                                    <li>
                                        <span class="testimonial-title">Quality Design!</span>
                                        <p>Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend molestie. Aliquam molestie scelerisque ultricies. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor dictum ornare. Maecenas pellentesque nibh ac suscipit sodales. Integer quis mattis nibh. Maecenas et eleifend mauris.</p>
                                        <span class="testimonial-owner">
                                            Jake Retallick,
                                        </span><span class="testimonial-date">26.02.2014</span>
                                    </li>


                                </ul>
                            </div><!-- End about-us-testimonials -->
                        </div><!-- End .col-md-8 -->
                    </div><!-- End.row -->
                </div><!-- End.container -->

            </div><!-- End #testimonials-section -->
            <div class="xlg-margin2x"></div><!-- space -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="team-members-slider-container" class="carousel-wrapper">
                            <header class="content-title">
                                <div class="title-bg">
                                    <h2 class="title">Meet Our Team</h2>
                                </div><!-- End .title-bg -->
                                <div class="xs-margin"></div><!-- space -->
                            </header>
                            <div class="carousel-controls">
                                <div id="team-members-slider-prev" class="carousel-btn carousel-btn-prev">
                                </div><!-- End .carousel-prev -->
                                <div id="team-members-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                </div><!-- End .carousel-next -->
                            </div><!-- End .carousel-controllers -->

                            <div class="team-member-header clearfix">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <figure>
                                            <img src="~/images/team/bryant.jpg" alt="Dawe Bryant" class="img-responsive">
                                        </figure>
                                        <div class="md-margin visible-xs visible-sm"></div><!-- space for small devices -->
                                    </div><!-- End .col-md-4-->

                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <div class="team-member-header-meta">
                                            <div class="team-member-name">Courtney Bryant</div><!-- End .team-member-name -->
                                            <div class="team-member-title">SEO</div><!-- End team-member-title -->

                                            <p>Suspendisse potenti. In non tincidunt mauris. Sed accumsan augue a gravida posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor dictum ornare. Maecenas pellentesque nibh ac suscipit sodales. Integer quis mattis nibh. Aliquam arcu velit, blandit sit amet neque vitae, eleifend feugiat lorem. Suspendisse potenti.</p>
                                            <blockquote><p>Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend molestie. Aliquam molestie scelerisque ultricies. Suspendisse potenti. Phasellus interdum risus at mi ullamcorper lobortis. In et metus aliquet, suscipit leo.</p></blockquote>
                                            <p>Suspendisse potenti. In non tincidunt mauris. Sed accumsan augue a gravida posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor dictum ornare. Maecenas pellentesque nibh ac suscipit sodales. Integer quis mattis nibh. Aliquam arcu velit, blandit sit amet. Nam pretium augue eget sem malesuada, ut gravida enim iaculis. Praesent sed nulla sed lectus blandit sodales sit amet nec lectus. </p>

                                            <div class="team-member-extra clearfix">
                                                <ul class="social-links clearfix pull-left">
                                                    <li class="smaller-social-icons"><a href="#" class="social-icon icon-facebook-sm"></a></li>
                                                    <li class="smaller-social-icons"><a href="#" class="social-icon icon-twitter-sm"></a></li>
                                                    <li class="smaller-social-icons"><a href="#" class="social-icon icon-dribbble-sm"></a></li>
                                                    <li class="smaller-social-icons"><a href="#" class="social-icon icon-email-sm"></a></li>
                                                </ul>
                                                <ul class="team-member-contact pull-right">
                                                    <li>courtney_bryant@gmail.com</li>
                                                    <li>+(404) 548-26-78-56</li>
                                                </ul>
                                            </div><!-- End .team-member-extra-->
                                        </div><!-- End .team-member-header-meta -->
                                    </div><!-- End .col-md-8-->
                                </div><!-- End .row -->
                            </div><!-- End .team-member-header -->

                            <!-- End .team-member-content -->
                        </div><!-- End #team-members-slider-contaiener -->

                        <div class="md-margin2x"></div><!-- space -->

                        <!-- End #brand-slider-container -->

                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </section><!-- End #content -->

        <partial name="_CustomerFooter" /><!-- End #footer -->
    </div><!-- End #wrapper -->
    <a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->
    <!-- END -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/jquery.debouncedresize.js"></script>
    <script src="~/js/retina.min.js"></script>
    <script src="~/js/jquery.placeholder.js"></script>
    <script src="~/js/jquery.hoverIntent.min.js"></script>
    <script src="~/js/twitter/jquery.tweet.min.js"></script>
    <script src="~/js/jquery.flexslider-min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jflickrfeed.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        $(function () {

        });
    </script>
</body>
</html>
